<div ng-controller="TransactionAdd as transactionAdd" class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form name="form" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4>Add {{transactionAdd.name}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group" ng-click="{'has-error': form.transactionAmount.$error.required}">
            <label for="transactionAmount">Transaction Amount:</label>
            <input id="transactionAmount" name="transactionAmount" type="text" class="form-control" ng-model="transactionAdd.transaction.TransactionAmount" >
          </div>
          <div ng-show="form.transactionAmount.$invalid">
            <span ng-show="form.transactionAmount.$error.required" class="help-block">Account title is required</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left" ng-disabled="form.$invalid" ng-click="transactionAdd.addTransaction()">Add</button>
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
