<div>

  <button type="button" class="btn btn-link " data-toggle="modal" data-target="#accountnModal" >Add Account</button>
  <a ui-sref="User">Back</a>

  <table class="table table-striped table-bordered" ng-show="vm.accounts.length>0">
    <tr>
      <th>Account Id</th>
      <th>Account Title</th>
      <th>Account Number</th>
      <th>Balance</th>
      <th>View Transactions</th>
      <th>View Last Transaction</th>
      <th> &nbsp;    </th>
      <th> &nbsp;    </th>
    </tr>
    <tr ng-repeat="account in vm.accounts">
      <td>{{account.AccountId}}</td>
      <td>{{account.AccountTitle}}</td>
      <td>{{account.AccountNumber}}</td>
      <td>{{account.Balance}}</td>
      <td><a class="btn-link" ui-sref="Transaction({userId:vm.userId, accountId:account.AccountId})" >View Transactions</a></td>
      <td><button class="btn-link" ng-click="vm.viewLastTransaction(account.AccountId)">View Last Transaction</button></td>
      <td><a ui-sref=".Edit({accountId: account.AccountId})">Edit</a></td>
      <td><button class="btn-link" ng-click="vm.deleteUserAccount(account.AccountId)">Delete</button></td>

    </tr>
  </table>
  <div class="row"></div>


  <!--For editing account-->
  <div ui-view=""></div>

  <div ng-include="'src/accounts/account-add.html'"></div>

</div>
